<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>Reports{block title|striptags|upper}{/block}</title>

	<!-- The styles -->
	<link href='{$basePath}/css/basic.css' rel='stylesheet'>

	<!-- The fav icon -->
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>
	
	<div id="header">
		Reports
	</div>
		
	<div id="menu">
	{include 'Menu/menu.latte'}
	</div>	
			
	<div id="content">
		{snippet flashes}
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
			{$flash->message}
		</div>			
		{/snippet}
		
	{include #content}
	</div>

	{block scripts}
	<script src="{$basePath}/js/jquery-1.9.1.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/live-form-validation.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	
	<script>
		$(function () {
		    $.nette.init();
		});
	</script>
	{/block}
	
</body>
</html>
