<ul>
	<li><a href="{plink User:add}"><img src="{$basePath}/images/add.png" title="New user"></a>&nbsp;|&nbsp;<a href="{plink User:list}">Users</a></li>
	<li>&nbsp;</li>
	<li><a href="{plink Project:add}"><img src="{$basePath}/images/add.png" title="New project"></a>&nbsp;|&nbsp;<a href="{plink Project:list}">Projects</a></li>
	<li>&nbsp;</li>
	<li><a href="{plink Record:add}"><img src="{$basePath}/images/add.png" title="New record"></a>&nbsp;|&nbsp;<a href="{plink Record:list}">Records</a></li>
</ul>